body {
background-color: aqua;
}
#choices {
  display: flex;
  padding: 20px;
}

#game {
  display: flex;
  padding: 20px;
}

.box {
  height: 200px;
  width: 200px;
  padding: 20px;
  display: flex;
}
.choice {
  /* border: 5px solid green; */
  height: 200px;
  width: 200px;
  padding: 20px;
  display: flex;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}